<div class="row">
	<div class="input-field col s6">
		{{input value=filterText class="validate" id="filter" length="60"}}
		<label for="filter"><i class="fa fa-search"></i> Buscar proyecto</label>
	</div>
</div>

<div class="row">
	<table class="striped">
		<thead>
			<tr>
			{{#each columns as |column|}}
				<th>
					{{column}} <i class="fa fa-sort-alpha-asc" {{action 'changeOrder' column}}></i>
				</th>
			{{/each}}
			</tr>
		</thead>

		<tbody>
		{{#if contentFilter}}
			{{#each contentFilter as |item|}}
				<tr>
					<td>
						{{item.title}}
					</td>
					<td>
						{{item.type}}
					</td>
				</tr>
			{{/each}}
		{{else}}
			{{#if filterText}}
			<tr>
				<td colspan="{{unbound columnsCount}}">
					No se encontraron resultados
				</td>
			</tr>
			{{/if}}
		{{/if}}
		</tbody>
	</table>
</div>

<div class="row">
	<ul class="pagination center-align">
		<li class="disabled"><a href="#!"><i class="fa fa-arrow-left"></i></a></li>
		<li class="active"><a href="#!">1</a></li>
		<li class="waves-effect"><a href="#!">2</a></li>
		<li class="waves-effect"><a href="#!">3</a></li>
		<li class="waves-effect"><a href="#!">4</a></li>
		<li class="waves-effect"><a href="#!">5</a></li>
		<li class="waves-effect"><a href="#!"><i class="fa fa-arrow-right"></i></a></li>
	</ul>
</div>








